@model  MVCProject.Web.Models.EmployeeData
@{
    ViewBag.Title = "Payslip";
    Layout = "~/Views/Shared/_LayoutPayslip.cshtml";
}

<html>
<head>

    <style>
        .payslip-title {
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            margin: 0 0 20px;
        }

        .inv-logo {
            height: auto;
            max-height: 100px;
            width: auto;
            margin: 0 0 20px;
            padding: inherit;
        }

        .invoice-details {
            float: right;
            text-align: right;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div ng-controller="SalaryCtrl" novalidate ng-init="GetData('@ViewBag.EmployeeId')">
        <div><hr /><hr /></div>
        <!--Start Body Section-->
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <!-- start Salary form -->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <img src="~/Content/images/Group 11.png" class="inv-logo" alt="">

                                <ul class="list-unstyled mb-0">

                                    <li>Ask E-Solution Pvt.Limited</li>

                                    <li>214 to 217,Luxuria Bussiness Hub</li>

                                    <li>Beside Dumas Resort, Dumas Road, Surat-395007</li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <center>
                                    <span>
                                        <strong>Payslip</strong>
                                    </span>
                                </center>
                            </div>

                        </div>

                        <div class="col-sm-6 m-b-20">

                            <div class="invoice-details">

                                <h2 class="text-uppercase">Payslip #49029</h2>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-unstyled mb-0">

                                <li>Employee : <span>@Model.Result.Name</span></li>

                                <li>Department : <span>@Model.Result.DepartmentName</span></li>

                                <li>Employee ID: @Model.Result.BatchNo</li>



                            </ul>
                        </div>


                    </div>
                    <hr />

                    <div class="row">
                        
                        <table>
                            <tr>
                                <td>
                                    <h2><strong style="margin: 23px;">Earnings</strong></h2>
                                    <div style="display: flex;">
                                        <table class="table table-bordered" style=" width: 90%; margin-left: 20px; ">
                                            <thead>
                                                <tr>

                                                    <td> Description</td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Basic Salary
                                                    </td>
                                                </tr>
                                                @foreach (var allowance in @Model.Result.Allowances)
                                                {
                                                    <tr>
                                                        <td><strong>@allowance.Description</strong>(@allowance.Value%)</td>

                                                    </tr>
                                                }
                                                <tr>
                                                    <td><strong>Total Allowances</strong>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" style=" width: 90%; ">
                                            <thead>
                                                <tr>

                                                    <td> Amount</td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var allowance1 in @Model.Result.AllowanceAmounts)
                                                {
                                                    <tr>
                                                        <td><strong>&#8377;@allowance1.AllowanceAmount</strong></td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td> @*<span class="float-end">*@<strong>&#8377;@Model.Result.TotalAllowance</strong>@*</span>*@</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <h2><strong style="margin: 23px;">Deductions</strong></h2>
                                    <div style="display: flex;">
                                        <table class="table table-bordered" style=" width: 50%;">
                                            <tbody>
                                                <tr>
                                                    <td>Description @*<span class="float-end">Value</span>*@</td>
                                                </tr>

                                                @foreach (var deduction in @Model.Result.Deductions)
                                                {
                                                    <tr>
                                                        <td><strong>@deduction.Description</strong>(@deduction.Value%)</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td><strong>Total Deductions</strong>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered" style=" width: 50%;">
                                            <tbody>
                                                <tr>
                                                    <td>Amount</td>
                                                </tr>

                                                @foreach (var deductionamt in @Model.Result.DeductionAmounts)
                                                {
                                                    <tr>
                                                        <td><strong>&#8377;@deductionamt.DeductionAmount</strong></td>
                                                    </tr>
                                                }

                                                <tr>
                                                    <td> @*<span class="float-end">*@<strong>&#8377;@Model.Result.TotalDeductoin</strong>@*</span>*@</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td colspan="2">
                                <strong> Net Salary: &#8377;  @Model.Result.netSalary </strong>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>


    </div>
    </div>
    <!--</div>-->
    <!--End Body Section-->
    <!--</div>-->



</body>
</html>
@section scripts {
    @Scripts.Render("~/bundles/Salary/Salary")
}
