@{
    ViewBag.Title = Resource.Salary;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .colSrno {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }

    .colActive {
        width: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;
    }

    .colAction {
        width: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;
    }
</style>
<div ng-controller="SalaryCtrl" novalidate>

    <!--Start Title Section-->
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-inr icon-position" style="padding-top:8px;"></i>
        <h4 class="header-title-sub l">@Resource.Salary</h4>
        <div class="pull-right">

        </div>
    </div>

    <!--End Title Section-->
    <!--Start Body Section-->
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <!-- start Department form -->
                <form name="frmSalary" ng-submit="SaveSalaryDetails(salaryDetailScope,frmSalary)" novalidate ng-init="Init()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    EmployeeList <span class="required-field">*</span>{{salaryDetailScope.Name}}
                                </label>
                                @*<select class="form-control" id="selectEmployee" ng-model="salaryDetailScope.EmployeeId" ng-options="a.EmpId as a.EmpName for a in Employees" ng-focus="true" name="selectEmployee" tabindex="7" required>
                                        <option value="">Select Employee</option>
                                    </select>*@
                                <div angucomplete-alt
                                     name="txtEmp"
                                     id="GetFullname"
                                     input-name="GetFullname"
                                     placeholder="Full Name"
                                     pause="200"
                                     selected-object="selectedProject"
                                     remote-url="{{FullnameURL}}"
                                     remote-url-data-field="Result"
                                     initial-value="salaryDetailScope.Name"
                                     title-field="Name"
                                     description-field="description"
                                     minlength="1"
                                     input-class="form-control form-control-small "
                                     match-class="highlight">

                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Designation
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" ng-focus="true" ng-model="salaryDetailScope.DesignationName" ng-change="getEmployeebyId(Id)"   placeholder="@Resource.Designation" @*placeholder="{{data.DesignationName}}"*@ maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Department
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" ng-focus="true" ng-model="salaryDetailScope.DepartmentName" ng-change="getEmployeebyId(Id)"  placeholder="@Resource.Department" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Basic Salary <span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" name="basicsalary" id="basicsalary" required ng-focus="true" ng-model="salaryDetailScope.BasicSalary" tabindex="1" ng-change="calculateSalary()" placeholder="@Resource.BasicSalary" maxlength="250" />
                                <div class="c">
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!--IsActive -->
                            <div class="form-group">
                                <label>
                                </label>
                                <div class="form-control-static">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="salaryDetailScope.IsActive"
                                               tabindex="2" />
                                        <label for="chkDesignationActive">

                                            @Resource.IsActive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                DA <span>(%)</span>
                            </label>
                            <input type="text" class="form-control" name="DA" id="DA" required ng-focus="true" ng-model="salaryDetailScope.DA" tabindex="2" placeholder="@Resource.DA" ng-change="calculateSalary()" value="{{SalaryDetails.DA}}" maxlength="250" />
                            <div class="c">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    DA <span>(₹)</span>
                                </label>
                                <input type="text" class="form-control" name="DA" id="DA" ng-disabled="true" required ng-focus="true" ng-model="salaryDetailScope.DAamt"  placeholder="@Resource.DA" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    HRA <span>(%)</span>
                                </label>
                                <input type="text" class="form-control" name="HRA" id="HRA" required ng-focus="true" ng-model="salaryDetailScope.HRA" ng-change="calculateSalary()" tabindex="3" placeholder="@Resource.HRA" value="{{SalaryDetails.HRA}}" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    HRA <span>(₹)</span>
                                </label>
                                <input type="text" class="form-control" name="HRA" id="HRA" ng-disabled="true" required ng-focus="true"  ng-model="salaryDetailScope.HRAamt"  placeholder="@Resource.HRA" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    PF <span>(%)</span>
                                </label>
                                <input type="text" class="form-control" name="PF" id="PF" required ng-focus="true" ng-model="salaryDetailScope.PF" ng-change="calculateSalary()" tabindex="4" placeholder="@Resource.PF" value="{{SalaryDetails.PF}}" maxlength="250" />
                                <div class="c">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    PF<span>(₹)</span>
                                </label>
                                <input type="text" class="form-control" name="PF" id="PF" ng-focus="true" ng-disabled="true" ng-model="salaryDetailScope.PFamt"  placeholder="@Resource.PF" maxlength="250" />
                                <div class="c">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Net Salary<span>(₹)</span>
                                    </label>
                                    <input type="text" class="form-control" name="netsalary" id="netsalary" ng-disabled="true" ng-focus="true" ng-model="salaryDetailScope.netSalary" placeholder="Net Salary" maxlength="250" />
                                    <div class="c">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5"
                                            @*ng-disabled="frmSalary.txtSalary.$invalid" *@ tabindex="5">
                                        {{salaryDetailScope.SalaryId > 0 ? '@Resource.Update' : '@Resource.Save'}}
                                    </button>
                                    <button type="button" ng-click="ClearFormData(frmSalary)" class="btn btn-info waves-effect w-md waves-light m-b-5"
                                            tabindex="4">
                                        @Resource.Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                   

                </form>

                <!-- End Department form -->
                <hr />
                @* Start Department Details List*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="strip">
                                    <i class="fa fa-user"></i>
                                    <label class="table-title">
                                        @Resource.Salary @Resource.Details
                                    </label>
                                    <button type="button" class="btn btn-success btn-xs waves-effect" ng-click="Export()">
                                        <i class="fa fa-file-excel-o m-r-5"></i>@Resource.ExportToExcel
                                    </button>
                                </h3>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}",Resource.Search,Resource.Employee,Resource.Details)" />
                                    <a href class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked=true;tableParams.page(1);tableParams.reload();"> <i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="427">
                                    <table ng-table="tableParams" id="datatable" class="table table-striped table-bordered table-hover">
                                        <tr ng-repeat="dt in $data">
                                            @*ng-hide="!dt.IsActive">*@
                                            <td data-titile="'SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                            </td>
                                            <td data-title="'Name'" sortable="'Name'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.Name}}">
                                                {{dt.FirstName}} {{dt.LastName}}
                                            </td>
                                            <td data-title="'Department Name'" sortable="'DepartmentName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.DepartmentId}}">
                                                {{dt.DepartmentName}}
                                            </td>
                                            <td data-title="'Designation Name'" sortable="'DesignationId'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.DesignationId}}">
                                                {{dt.DesignationName}}
                                            </td>
                                            <td data-title="'@Resource.BasicSalary'" sortable="'BasicSalary'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.BasicSalary}}">
                                                {{dt.BasicSalary |currency:'&#8377;'}}
                                            </td>
                                                    @*<td data-title="'@Resource.DA'" sortable="'DA'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.DA}}">
                                                        {{dt.DAamt|currency:'&#8377;'}}
                                                      </td>
                                                    <td data-title="'@Resource.HRA'" sortable="'HRA'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.HRA}}">
                                                        {{dt.HRAamt|currency:'&#8377;'}}
                                                    </td>
                                                    <td data-title="'@Resource.PF'" sortable="'PF'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.PF}}">
                                                        {{dt.PFamt|currency:'&#8377;'}}
                                                    </td>*@
                                                    <td data-title="'Net Salary(₹)'" sortable="'PF'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.netSalary}}">
                                                {{dt.netSalary|currency:'&#8377;'}}
                                            </td>
                                            <td data-title="'@Resource.Active'" sortable="'IsActive'" header-class="'colActive'" ng-class="'colActive text-center'">
                                                <input type="checkbox" class="js-switch" ui-switch options="switchOptions" ng-model="dt.IsActive"
                                                       ng-disabled="true" />
                                            </td>
                                            <td data-title="'Generate Palyslip'" ng-click="PayslipGenerate(dt.EmployeeId)" sortable="'PF'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{dt.EmployeeId}}">
                                                <a herf="#" class="btn btn-sm btn-primary"> PaySlip_{{dt.SalaryId}}</a>
                                            </td>
                                            <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                                <a class="btn btn-icon btn-white btn-xs waves-effect waves-light m-r-5 btn-edit" title="Edit"
                                                   ng-click="EditSalaryDetails(dt.SalaryId,frmSalary)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                      
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Department Details List-->

            </div>
        </div>
    </div>
    <!--End Body Section-->
</div>


@section scripts {
    @Scripts.Render("~/bundles/Salary/Salary")
}
<script src="https://kit.fontawesome.com/73e0cf2663.js" crossorigin="anonymous"></script>