@{
    ViewBag.Title = Resource.Salary;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .colSrno {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colPosition {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }

    .colActive {
        width: 70px !important;
        min-width: 70px !important;
        max-width: 70px !important;
    }

    .colAction {
        width: 70px !important;
        min-width: 70px !important;
        max-width: 70px !important;
    }
</style>

<div ng-controller="SalaryCtrl" novalidate>

    <!--Start Title Section-->
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-inr icon-position" style="padding-top:8px;"></i>
        <h4 class="header-title-sub l">
            @Resource.Salary

        </h4>
        <div class="pull-right">

        </div>
    </div>

    <!--End Title Section-->
    <!--Start Body Section-->
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">

                <!-- start Salary form -->
                <form name="frmSalary" novalidate ng-init="Init()">
                    @*<button class="accordion"> Employee </button>
                        <div class="panel">*@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Employee Name <span class="required-field">*</span>
                                </label>

                                <div angucomplete-alt
                                     name="txtEmp"
                                     id="txtEmp"
                                     input-name="GetFullname"
                                     placeholder="Full Name"
                                     pause="200"
                                     selected-object="selectedProject"
                                     remote-url="{{FullnameURL}}"
                                     remote-url-data-field="Result"
                                     initial-value="salaryDetailScope.Name"
                                     title-field="Name"
                                     description-field="description"
                                     minlength="1"
                                     input-class="form-control form-control-small "
                                     match-class="highlight"
                                     ng-focus="true">

                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Designation
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" ng-model="salaryDetailScope.DesignationName" ng-change="getEmployeebyId(Id)" placeholder="@Resource.Designation" @*placeholder="{{data.DesignationName}}"*@ maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Department
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" ng-model="salaryDetailScope.DepartmentName" ng-change="getEmployeebyId(Id)" placeholder="@Resource.Department" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Basic Salary <span class="required-field">*</span>
                                </label>
                                <input type="text" required class="form-control" name="basicsalary" id="basicsalary" ng-model="salaryDetailScope.BasicSalary" tabindex="1" ng-change="CalculateSalary()" placeholder="@Resource.BasicSalary" maxlength="250" />
                                <div class="c">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Salary Month <span class="required-field">*</span>
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="displayMonth" style="width: 100px;">
                                    <input type="date" class="datepicker" id="salaryMonth" name="salaryMonth">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Salary Issue Date <span class="required-field">*</span>
                                </label>
                                <input type="date" required class="form-control" name="salaryIssueDate" id="salaryIssueDate" />
                                <div class="c">
                                </div>

                            </div>
                        </div>

                    </div>
                    @*</div>*@

                    @*<button  class="accordion">Allowances </button>
                        <div class="panel">*@

                    <!--Leaves Process Starts-->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Working Days
                                </label>
                                <input type="text" class="form-control" id="workingDays" name="workingDays" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Balance Casual Leaves
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" id="balanceCasualLeaves" name="balanceCasualLeaves" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Balance Sick Leaves
                                </label>
                                <input type="text" class="form-control" ng-disabled="true" id="balanceSickLeaves" name="balanceSickLeaves" placeholder="0" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Day Present
                                </label>
                                <input type="text" ng-disabled="true" class="form-control" id=" dayPresent" name=" dayPresent" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Day Present Casual Leaves
                                </label>
                                <input type="text" class="form-control" id="daybalanceCasualLeaves" name="daybalanceCasualLeaves" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Day Present Sick Leaves
                                </label>
                                <input type="text" class="form-control" id="daybalanceSickLeaves" name="daybalanceSickLeaves" placeholder="0" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Casual Sanctioned Leave
                                </label>
                                <input type="text" class="form-control" id="CasualSanLeaves" name="CasualSanLeaves" placeholder="0" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Sick Sanctioned Leave
                                </label>
                                <input type="text" class="form-control" id="SickSanLeaves" name="SickSanLeaves" placeholder="0" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Leave Without Pay
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" ng-disabled="true" class="form-control" id="leaveWithoutPay" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="leaveWithoutPayAmt" name="leaveWithoutPayAmt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Leaves Process Ends-->
                    <!--OverTime Process Starts-->
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Over Time In Hours
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="overtimeHours" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="overtimeHoursamt" name="overtimeHoursamt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Over Time In Minute
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="overtimeMinute" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="overtimeMinuteamt" name="overtimeMinuteamt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Over Time In Days
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="overtimeDays" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="overtimeDaysamt" name="overtimeDaysamt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Total OverTime
                                </label>
                                <input type="text" ng-disabled="true" class="form-control" id="totalOvertime" name="totalOvertime" placeholder="0.00 &#8377;" />@*&#8377;*@
                            </div>
                        </div>
                    </div>
                    <!--OverTime Process Ends-->
                    <!--Late Coming Process Starts-->
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Late Coming In Hours
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="lateComingHours" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="lateComingHoursamt" name="lateComingHoursamt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Late Coming In Minute
                                </label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control" id="lateComingMinute" placeholder="0">
                                    <input type="text" ng-disabled="true" class="form-control" id="lateComingMinuteAmt" name="lateComingMinuteAmt" placeholder="0.00 &#8377;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Total Late Coming
                                </label>
                                <input type="text" ng-disabled="true" class="form-control" id="totalLatecoming" name="totalLatecoming" placeholder="0.00 &#8377;" />@*&#8377;*@
                            </div>
                        </div>
                    </div>
                    <!--Late Coming Process Ends-->
                    <!--Allowances Process Starts-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Allowances</label>


                                <div class="form-group" ng-repeat="a in Allowances">
                                    <label>{{a.Description}} ({{a.Value}}%)</label>

                                </div>
                                <div class="form-group">
                                    <label>Total Allowances</label>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <label>Debit</label>
                                <div class="col-md-6">
                                    <label>Credit</label>
                                </div>
                                <div class="form-group" ng-repeat="a in AllowancesDetailScope">
                                    <input type="text" placeholder="0" ng-model="a.AllowanceAmount" ng-change="UpdateTotalAllowance()" />
                                    <input type="text" placeholder="0" @*ng-model="a.AllowanceAmount"*@ ng-disabled="true" />
                                </div>
                                <div class="form-group">
                                    = <input type="text" placeholder="Total Allowance" ng-disabled="true" ng-model="salaryDetailScope.TotalAllowance" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Allowances Process Ends-->
                    <!--Dedeuction Process Starts-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Deduction</label>

                                <div class="form-group" ng-repeat="d in Deductions">
                                    <label>{{d.Description}} ({{d.Value}}%)</label>

                                </div>
                                <div class="form-group">
                                    <label>Total Deduction</label>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <label>Debit</label>
                                <div class="col-md-6">
                                    <label>Credit</label>
                                </div>

                                <div class="form-group" ng-repeat="d in DeductionDetailScope">
                                    <input type="text" placeholder="0" ng-disabled="true" />
                                    <input type="text" placeholder="0" ng-model="d.DeductionAmount" ng-change="UpdateTotalDeduction()" />
                                </div>
                                <div class="form-group">
                                    = <input type="text" placeholder="Total Deduction" ng-disabled="true" ng-model="salaryDetailScope.TotalDeductoin" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Dedeuction Process Starts-->
                    <!--Salary Calculation Starts -->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Gross Salary<span>(₹)</span>
                                </label>
                                <div class="row">
                                    @*<div class="col-md-4">*@
                                    <input type="text" name="grossSalary" id="grossSalary" ng-disabled="true" ng-model="GrossSalary" value="{{CalGrossSalary()}}" placeholder="Gross Salary" maxlength="250" /> -
                                    <div class="c">
                                    </div>
                                    @*</div>*@
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>
                                    Total Deductions <span>(₹)</span>
                                </label>
                                <div class="row">

                                    <input type="text" name="totalDeduction" id="totalDeduction" ng-disabled="true" ng-model="salaryDetailScope.TotalDeductoin" placeholder="Total Deduction" maxlength="250" /> =

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Net Salary<span>(₹)</span>
                            </label>
                            <div class="row">
                                <input type="text" name="netsalary" id="netsalary" ng-disabled="true" ng-model="salaryDetailScope.netSalary" value="{{CalNetSalary()}}" placeholder="Net Salary" maxlength="250" />
                                <div class="c">
                                </div>
                            </div>

                        </div>
                        <!--Salary Calculation Ends -->

                        <div class="col-md-4">
                            <!--IsActive -->
                            <div class="form-group">
                                <label>
                                </label>
                                <div class="form-control-static">
                                    <div class="checkbox checkbox-info">
                                        <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="salaryDetailScope.IsActive"
                                               tabindex="2" />
                                        <label for="chkDesignationActive">

                                            @Resource.IsActive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5"
                                        @*ng-disabled="frmSalary.txtSalary.$invalid" *@ tabindex="5" ng-click="SaveSalaryDetails(salaryDetailScope,frmSalary)">
                                    {{salaryDetailScope.SalaryId > 0 ? '@Resource.Update' : '@Resource.Save'}}
                                </button>
                                <button type="button" ng-click="ClearFormData(frmSalary)" class="btn btn-info waves-effect w-md waves-light m-b-5"
                                        tabindex="4">
                                    @Resource.Clear
                                </button>
                            </div>
                        </div>
                    </div>


                </form>

                <!-- End Salary form -->
                <hr />
               
            </div>
            <!--End Salary Details List-->

        </div>
    </div>
</div>
<!--End Body Section-->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }


    const salaryMonthInput = document.getElementById('salaryMonth');
    const displayMonthInput = document.getElementById('displayMonth');

    salaryMonthInput.addEventListener('change', (event) => {
        const selectedDate = new Date(event.target.value);
        const selectedMonth = selectedDate.toLocaleString('default', { month: 'long' });
        displayMonthInput.value = selectedMonth;
    });

</script>


@section scripts {
    @Scripts.Render("~/bundles/Salary/Salary")
}
<script src="https://kit.fontawesome.com/73e0cf2663.js" crossorigin="anonymous"></script>
